In [569]:
import numpy as np
import pandas as pd
import itertools
import seaborn as sns
import matplotlib.pyplot as plt
import os
import collections

In [575]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
585,tt0244000,35000000,13678913,American Outlaws,Colin Farrell|Scott Caan|Ali Larter|Gabriel Ma...,Les Mayfield,Sometimes the wrong side of the law is the rig...,When a Midwest town learns that a corrupt rail...,94,Action|Western,Warner Bros. Pictures|Morgan Creek Productions,8/17/2001,5.8,2001
809,tt1305591,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,5.5,2011
995,tt1397280,45000000,376141306,Taken 2,Liam Neeson|Maggie Grace|Famke Janssen|Rade Se...,Olivier Megaton,First they took his daughter. Now they're comi...,"In Istanbul, retired CIA operative Bryan Mills...",91,Action|Thriller|Crime|Drama,Twentieth Century Fox Film Corporation|M6 Film...,9/27/2012,6.0,2012
636,tt0455824,130000000,49554002,Australia,Nicole Kidman|Hugh Jackman|Essie Davis|David W...,Baz Luhrmann,Welcome to Australia!,"Set in northern Australia before World War II,...",165,Drama,Bazmark Films|Ingenious Film Partners|Twentiet...,11/18/2008,6.3,2008
1680,tt0293564,140000000,258022233,Rush Hour 3,Chris Tucker|Jackie Chan|Hiroyuki Sanada|Max v...,Brett Ratner,The Rush Is On!,After an attempted assassination on Ambassador...,91,Action|Comedy|Crime|Thriller,New Line Cinema,8/8/2007,6.2,2007

In [98]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [580]:
# Создадим словарь для ответов
answers = {} 
# Выводим в новый столбец значение прибыли как разницу между сборами (revenue) и бюджетом (budget)
data['profit'] = data.revenue - data.budget 
# Выводим в новый столбец значение месяца
s = []
for i in data.release_date:
    month = i[:(i.find('/'))]
    s.append(month)
data['month'] = s
data
# Добавляем поле с длиной названия в символах
s = []
for i in data.original_title:
    s.append(len(i))
data['length'] = s
data
# Добавляем поле с длиной описания в словах
s = []
for i in data.overview:
    s.append(i.count(' ') + 1)
data['word'] = s
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  month                 1889 non-null   object
 16  length                1889 non-null   int64
 17  word                  1889 non-null   int64
dtypes: float64(1), int64(7), object(10)
memory usage: 265.8+ KB

# 1. У какого фильма из списка самый большой бюджет?

In [100]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [101]:
# Находим наименование и код фильма, где значение бюджета максимальное
display (data.original_title[data.budget == data.budget.max()], data.imdb_id[data.budget == data.budget.max()])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

723    tt1298650
Name: imdb_id, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [102]:
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [103]:
# Находим наименование и код фильма, где значение длительности максимальное
display (data.original_title[data.runtime == data.runtime.max()], data.imdb_id[data.runtime == data.runtime.max()])

1157    Gods and Generals
Name: original_title, dtype: object

1157    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [104]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

In [105]:
# Находим наименование и код фильма, где значение длительности минимальное
display (data.original_title[data.runtime == data.runtime.min()], data.imdb_id[data.runtime == data.runtime.min()])

768    Winnie the Pooh
Name: original_title, dtype: object

768    tt1449283
Name: imdb_id, dtype: object

# 4. Какова средняя длительность фильмов?

In [106]:
answers['4'] = '110'
# +

In [107]:
# Находим среднее значение длительности
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [108]:
answers['5'] = '107'
#+

In [109]:
# Находим медианное значение длительности
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?

In [110]:
answers['6'] = 'Avatar (tt0499549)'
#+

In [111]:
# Находим наименование и код фильма, где значение прибыли максимальное
display (data.original_title[data.profit == data.profit.max()], data.imdb_id[data.profit == data.profit.max()])

239    Avatar
Name: original_title, dtype: object

239    tt0499549
Name: imdb_id, dtype: object

# 7. Какой фильм самый убыточный?

In [121]:
answers['7'] = 'The Lone Ranger (tt1210819)'
#-

# на платформе данный ответ выходит как неправильный, а правильным считается "The Adventures of Pluto Nash (tt0180052)"

In [114]:
# Находим наименование и код фильма где значение прибыли минимальное
display (data.original_title[data.profit == data.profit.min()], data.imdb_id[data.profit == data.profit.min()])

1245    The Lone Ranger
Name: original_title, dtype: object

1245    tt1210819
Name: imdb_id, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [115]:
answers['8'] = '1478'
#+

In [116]:
# Подсчитываем все фильмы, у которых сумма прибыли была больше 0 (сборы были больше бюджета)
data.imdb_id[data.profit > 0].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [117]:
answers['9'] = 'The Dark Knight (tt0468569)'
#+

In [118]:
# Оставляем фильмы, выпущенные в 2008 году
df = data.copy()
df = df[df.release_year == 2008]
# Находим наименование и код фильма где значение cборов максимальное
display (df.original_title[df.revenue == df.revenue.max()], df.imdb_id[df.revenue == df.revenue.max()])

599    The Dark Knight
Name: original_title, dtype: object

599    tt0468569
Name: imdb_id, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [119]:
answers['10'] = 'The Lone Ranger (tt1210819)'
#+

In [120]:
df = data.copy()
# Оставляем фильмы, выпущенные в период с 2012 по 2014 годы
df = df[(df.release_year >= 2012) & (df.release_year <= 2014)]
# Находим наименование и код фильма где значение прибыли минимальное
display (df.original_title[df.profit == df.profit.min()], df.imdb_id[df.profit == df.profit.min()])

1245    The Lone Ranger
Name: original_title, dtype: object

1245    tt1210819
Name: imdb_id, dtype: object

# 11. Какого жанра фильмов больше всего?

In [122]:
answers['11'] = 'Drama'
#+

In [127]:
df = data.copy()
s = []
# Преобразуем поле с жанрами в список
df['genres'] = df.genres.apply(lambda x: x.split('|'))
# Проходим по всем спискам жанров и собираем их в один
for i in df['genres']:
    for j in i:
        s.append(j)
# Преобразуем список в датафрейм        
dt = pd.DataFrame(s, columns = ['Genre'])
# Подсчитываем сумму жанров в общем списке и ищем первый
dt = dt['Genre'].value_counts()
dt

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: Genre, dtype: int64

ВАРИАНТ 2

In [128]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [129]:
answers['12'] = 'Drama'
#+

In [130]:
df = data.copy()
# Собрать серию жанров у фильмов, у которых profit > 0 сгруппировать и посмотреть кого больше
df = df[df.profit > 0]
# Посчитать самый распространенный жанр
pd.DataFrame(df.genres.str.split('|').tolist()).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [131]:
answers['13'] = 'Peter Jackson'
#+

In [132]:
df = data.copy()
# Uруппируем суммы сборов по режиссеру
df = data.groupby('director')['revenue'].sum()
# Cортируем получившуюся серию по убыванию и берем первую запись
df.sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [163]:
answers['14'] = 'Robert Rodriguez'
#+

ВАРИАНТ 1

In [136]:
df = data.copy()
s=[]
# преобразуем поле с жанрами в список
df['genres'] = df.genres.apply(lambda x: x.split('|'))

In [137]:
# ОТВЕТ НЕКОРРЕКТНЫЙ
s=[]
# Проходим по всем спискам жанров и собираем в список признаков
for i in df['genres']:
    IsAction = False
    for j in i:
        if j == 'Action':
            IsAction = True
    if IsAction == True:
        s.append('+')
    else: 
        s.append('-')
df['isaction'] = s
# Фильтруем только значения с признаком 
df_filtered = df[df.isaction == '+']
# Группируем по режиссеру
df_grouped = df.groupby('director')['original_title'].count()
# Сортируем получившуюся серию по убыванию и берем первую запись
df_grouped.sort_values(ascending=False)

director
Steven Soderbergh                            13
Clint Eastwood                               12
Ridley Scott                                 12
Steven Spielberg                             10
Shawn Levy                                   10
                                             ..
Mabrouk El Mechri                             1
Louis Leterrier|Corey Yuen Kwai               1
Liz Friedlander                               1
Lilly Wachowski|Lana Wachowski|Tom Tykwer     1
Aaron Seltzer|Jason Friedberg                 1
Name: original_title, Length: 957, dtype: int64

ВАРИАНТ 2

In [167]:
# ОТВЕТ НЕКОРРЕКТНЫЙ
df = data.copy()
# Разделяем жанры в датафрейм
df = pd.DataFrame(data.genres.str.split('|').tolist())
df.columns = ['genre1', 'genre2', 'genre3', 'genre4', 'genre5']
# Добавляем режиссера
df['director'] = data.director
# Оставляем только фильмы в жанре Action
df = df[(df.genre1 == 'Action') | (df.genre2 == 'Action') | 
        (df.genre3 == 'Action') | (df.genre4 == 'Action') | (df.genre5 == 'Action')]
# Группируем по режиссеру
df.director.value_counts()

Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
                     ..
Sean McNamara         1
Jan de Bont           1
Adam Wingard          1
Spike Lee             1
Terry Gilliam         1
Name: director, Length: 345, dtype: int64

ВАРИАНТ 3

In [169]:
# ОТВЕТ КОРРЕКТНЫЙ
# Определяем функцию, которая подсчитывает сумму сгруппированную по передаваемому полю 
def counter(movie_bd, x):
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info
# Подсчитываем при помощи функции количество в списке где в поле жанров есть строка Action
sum_gen = counter(data[data['genres'].map(lambda x: True if 'Action' in x else False)],'director')
sum_gen

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Randall Wallace       1
Mabrouk El Mechri     1
Chris Gorak           1
Corey Yuen Kwai       1
Terry Gilliam         1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [164]:
answers['15'] = 'Chris Hemsworth'
#+

In [556]:
df = data.copy()
# Оставим только фильмы 2012 года
df = data[data.release_year == 2012]
# Преобразуем всех актеров в стек
df2 = pd.DataFrame(df.cast.str.split('|').tolist()).stack()
# Группируем повторяющихся
df2=df2.value_counts(ascending=False)
df2 = pd.DataFrame(df2)
df2.columns = ['revenue']
# Вместо количества добавляем суммы сборов за фильмы в которых участвовали актеры 
for i in df2.index:
    df2.revenue[i] = df[df['cast'].map(lambda x: True if i in x else False)].revenue.sum()
# Сортируем полученный список и берем верхнюю запись 
df2.sort_values(ascending=False, by = 'revenue')

                    revenue
Chris Hemsworth  2027450773
Denis Leary      1629460639
Anne Hathaway    1522851057
Mark Ruffalo     1519557910
Chris Evans      1519557910
...                     ...
Frank Grillo        3428048
Nicolas Cage        2106557
Josh Lucas          2106557
Danny Huston        2106557
Sami Gayle          2106557

[466 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [141]:
answers['16'] = 'Matt Damon'
#+

In [140]:
# Высокобюджетными будем считать фильмы, которые превышают среднее значение бюджета
# Оставляем только фильмы с бюджетом выше среднего
df = data[data.budget > data.budget.mean()]
s = []
# Преобразуем поле с актерами в список
df['cast'] = df.cast.apply(lambda x: x.split('|'))
for i in df['cast']:
    for j in i:
        s.append(j)
# выбираем самый частый        
collections.Counter(s).most_common(1)

C:\Users\skalp\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [142]:
answers['17'] = 'Action'
#+

In [144]:
# Оставляем в датафрейме только фильмы с участием Nicolas Cage
df = data.copy()
df = df.loc[df.cast.apply(lambda x: 'Nicolas Cage' in x)]
# Преобразуем жанры в датафрейм
df = pd.DataFrame(df.genres.str.split('|').tolist())
df.columns = ['genre1', 'genre2', 'genre3', 'genre4', 'genre5']
# Объединяем датафрейм в одну серию
s = df.genre1
s = s.append(df.genre2)
s = s.append(df.genre3)
s = s.append(df.genre4)
s = s.append(df.genre5)
# Подсчитываем самый распространенный жанр
collections.Counter(s).most_common(5)

[(None, 42), ('Action', 17), ('Thriller', 15), ('Drama', 12), ('Crime', 10)]

# 18. Самый убыточный фильм от Paramount Pictures

In [146]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
#+

In [145]:
# Фильтруем только фильмы студии Paramount Pictures
df = data.copy()
df = df[df['production_companies'].map(lambda x: True if 'Paramount Pictures' in x else False)]
# Ищем фильм у которого прибыль минимальна
display (df.original_title[df.profit == df.profit.min()], df.imdb_id[df.profit == df.profit.min()])

925    K-19: The Widowmaker
Name: original_title, dtype: object

925    tt0267626
Name: imdb_id, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [148]:
answers['19'] = '2015'
#+

In [147]:
# Сгруппируем суммы сборов по годам
df = data.groupby('release_year')['revenue'].sum()
# Сортируем получившуюся серию по убыванию и берем первую запись
df.sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [150]:
answers['20'] = '2014'
#+

In [149]:
# Оставляем в датафрейме только фильмы, где есть студия Warner Bros
warner_df = data.loc[data['production_companies'].apply(lambda x: 'Warner Bros.' in x)]
# Группируем прибыль по годам
grouped_df = warner_df.groupby(['release_year'])['profit'].sum()
display(grouped_df.sort_values())

release_year
2000     452631386
2006     620170743
2015     870368348
2002    1022709901
2012    1258020056
2001    1343545668
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1855493377
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [152]:
answers['21'] = 'Сентябрь'
#+

In [151]:
# Сгруппировать фильмы по месяцам
df = data.groupby('month')['original_title'].count()
# Сортируем получившуюся серию по убыванию и берем первую запись
df.sort_values(ascending = False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [154]:
answers['22'] = '450'
#+

In [153]:
df = data.copy()
# Оставить в датафрейме только фильмы с летними месяцами
df = data[(data.month == '6') | (data.month == '7') | (data.month == '8')]
len(df.original_title)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [156]:
answers['23'] = 'Peter Jackson'
#+

In [155]:
df = data.copy()
# Оставить в датафрейме только фильмы с зимними месяцами
df = data[(data.month == '12') | (data.month == '1') | (data.month == '2')]
df = df.groupby(['director'])['original_title'].count()
df.sort_values(ascending=False)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: original_title, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [157]:
answers['24'] = 'Four By Two Productions'
#+

In [581]:
# Преобразуем все студии в стек
df2 = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack()
# Группируем повторяющихся
df2=df2.value_counts(ascending=False)
df2 = pd.DataFrame(df2)
df2.columns = ['length']
# Вместо количества добавляем среднюю длину описания в символах 
for i in df2.index:
    df2.length[i] = data[data['production_companies'].map(lambda x: True if i in x else False)].length.mean()
# Сортируем полученный список и берем верхнюю запись 
df2.sort_values(ascending=False, by = 'length')

                            length
Four By Two Productions         83
Jim Henson Company, The         59
Dos Corazones                   47
Polsky Films                    46
Museum Canada Productions       46
...                            ...
Everest Entertainment            3
Berlanti Productions             3
Ixtlan Productions               2
Global Entertainment Group       2
XM2 Productions                  2

[1771 rows x 1 columns]

In [564]:
df = data.copy()
# Преобразуем все студии в стек
df2 = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack()
# Группируем повторяющихся
df2=df2.value_counts(ascending=False)
df2 = pd.DataFrame(df2)
df2.columns = ['lenght']
# Вместо количества добавляем среднюю длину описания в символах 
df = data.copy()
# Преобразуем все студии в стек
df2 = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack()
# Группируем повторяющихся
df2=df2.value_counts(ascending=False)
df2 = pd.DataFrame(df2)
df2.columns = ['lenght']
# Вместо количества добавляем среднюю длину описания в символах 
for i in df2.index:
    df2.lenght

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Sony                                        1
True Grit Productions                       1
Asis Productions                            1
Hachiko                                     1
Hearst Entertainment Productions            1
Name: lenght, Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [158]:
answers['25'] = 'Midnight Picture Show'
#+

In [94]:
# Сгруппировать длину описания в словах по студии
df = data.copy()
# Разделим студии в разные столбцы
df = pd.DataFrame(df.production_companies.str.split('|').tolist())
df.columns = ['pc1', 'pc2', 'pc3', 'pc4', 'pc5']
# Добавим длину в словах
df['word'] = data.word 
df.sort_values(by = 'word')
# Создадим датафрейм с компаниями и длиной описания в словах
pc = pd.DataFrame(columns=['pc', 'word'])
# Соберем все компании и сборы в один датафрейм
for i in df.index:
    pc.loc[len(pc)] = [df.loc[i].pc1, float(df.loc[i].word)]
    pc.loc[len(pc)] = [df.loc[i].pc2, float(df.loc[i].word)]
    pc.loc[len(pc)] = [df.loc[i].pc3, float(df.loc[i].word)]
    pc.loc[len(pc)] = [df.loc[i].pc4, float(df.loc[i].word)]
# Удалим пустые строки
pc = pc.dropna(axis ='index', how ='any', subset =['pc'])
# Сгруппируем по компании и отсортируем
pc.groupby(['pc']).mean().sort_values(by = 'word')

                                        word
pc
Motion Picture Corporation of America   11.0
Empire Pictures                         11.0
London Boulevard                        13.0
Henceforth                              13.0
Phantom Four                            13.0
...                                      ...
98 MPH Productions                     159.0
Heineken Branded Entertainment         161.0
Room 9 Entertainment                   161.0
Radical Studios                        169.0
Midnight Picture Show                  175.0

[1566 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [159]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
#+

In [16]:
# Упорядочить фильмы по оценкам
df = data.copy()
df = df.sort_values(by = 'vote_average', ascending=False)
# Выбрать топ кол-во/100
df.head(int(len(df)/100))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,12
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,11
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,10
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,5

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [160]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
#+

In [20]:
df = data.copy()
c = []
comb = []
# Создадим датафрейм с разделенными актерами
df = pd.DataFrame(df.cast.str.split('|').tolist()).stack()
# Соберем все воможные пары актеров в каждом фильме с перестановками в серию
for i in df.index:
    c = itertools.combinations_with_replacement(df[i[0]], 2)
    for j in c:
        comb.append(j)
# Преобразуем в датафрейм
a = pd.DataFrame(comb)
a.columns = ['cast1', 'cast2']
# Уберем связки актеров самого с собой 
a = a[a.cast1 != a.cast2]
# Слепим пары актеров в одну сроку
a['concat'] = a.cast1 + a.cast2
# Сгруппируем и посчитаем повторяющиеся пары
a = a.groupby(['concat'])['concat'].count()
a.sort_values(ascending = False)

concat
Daniel RadcliffeEmma Watson         40
Daniel RadcliffeRupert Grint        40
Rupert GrintEmma Watson             35
Ben StillerOwen Wilson              30
Johnny DeppHelena Bonham Carter     30
                                    ..
Claire ForlaniAmanda Detmer          4
Freddie Prinze Jr.Claire Forlani     4
Cole HauserRobin Tunney              4
Freddie Prinze Jr.Jason Biggs        4
Robin TunneyDennis Farina            4
Name: concat, Length: 18120, dtype: int64

# Submission

In [165]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Midnight Picture Show',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '14': 'Robert Rodriguez',
 '15': 'Denis Leary'}

In [166]:
# и убедиться что ни чего не пропустил)
len(answers)

27